{% extends "index.html" %}
{% load static %}

{% block calorie-list %}    
   <div class='container'>
        <div class='meal-list'>
            {% for meal in meals %}
                <div class='meal'>
                    <div class='meal-name'>
                        <span>
                            {% meal.title %}
                        </span>
                    </div>
                    <div class='meal-cal'>
                        <span>
                            {% meal.calorie %}
                        </span>
                    </div>
                    <div class='meal-delete'>
                        <i v-on:click='removeMeal(i)'
                            class='fas fa-times'
                        ></i>
                    </div>
                </div>
            {% endfor %}
        </div>
   </div>
{% endblock calorie-list %}
