{% extends "base.html" %}
{% load static %}

{% block title %}
  Meals
{% endblock title %}

{% block extra_styles %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="{% static 'FitAFSite/css/index.css' %}">
{% endblock extra_styles %}

{% block content %}
<p><a href="{% url 'logout' %}">logout</a></p>





<div id='app' style='width:100%;'>
  <div class="meal-in">
    <div class='meal-input-field'>
      <input 
      v-model='meal.title' 
      type="text" 
      placeholder='meal name'>
    </div>
    <div class='meal-input-field'>
      <input 
      v-model='meal.calories'
      type="number" 
      placeholder='calorie count for entire meal'>
    </div>
    <div class='meal-input-field'>
      <input 
      v-model='meal.servings'
      type="number" 
      placeholder='Servings for entire meal'>
    </div>

    <div>
      <button
        v-on:click='addMeal'
        id='btn-add'
      >
        <i class='fas fa-plus'></i>                    
      </button>
    </div>
  </div>
  <div class="meal-log">
    <div class="row">
      <div class="col-md-8">
        <div>
          <ul>
            <li
              v-for="meal, i in meals"
              v-bind:key="i"
            >
              <span> ${ meal.title } </span>
              <span class="left-brdr">Calories: ${ meal.eaten_cals() }</span>
              <span class="left-brdr">
                <a class="modal-trigger" href="#servings_modal">
                  Servings: ${ meal.servings }
                </a>
              </span>
              <div class='control-buttons left-brdr'>
                <i v-on:click='removeMeal(i)'
                class='fas fa-times'
                ></i>
              </div>    
            </li>
          </ul>
          <ul>
            <li>
              <span> Total Calories </span>
              <span class="left-brdr">${ cal_tot } / ${owner.daily_calorie} daily goal</span>  
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">User Data</a>
  <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Search Me!</a>
  
<!-- Servings Modal -->
<div id="servings_modal" class="modal">
  <div class="modal-content">
      <input 
      type="number"
      id="height"
      v-model='meal.servings'
    >
  </div>
  <div class="modal-footer">
    <a 
      v-on:click='modOwner'  
      href="#!" 
      class="modal-close waves-effect waves-green btn-flat"
    >
    Done
    </a>
  </div>
  
  </div>


<!-- User Modal -->
  <div id="modal1" class="modal">
    <div class="modal-content">
        <h1> ${ owner.username } </h1>
        <div class='Biometrics col' style="border: 10px solid blue">
          <label for="weight">weight</label>
          <input 
            type="number"
            id="weight"
            v-model = 'owner.weight'
          >
          <label for="height">height</label>
          <input 
            type="number"
            id="height"
            v-model='owner.height'
          >
          <label for="age">age</label>
          <input 
            type="number"
            id="age"
            v-model = 'owner.age'
          >

          <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>activity level</a>

          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>
            <li><a v-on:click="owner.activity = 1.2" href="#!">sedentary</a></li>
            <li><a v-on:click="owner.activity = 1.375" href="#!">lightly active</a></li>
            <li><a v-on:click="owner.activity = 1.55" href="#!">moderately active</a></li>
            <li><a v-on:click="owner.activity = 1.725" href="#!">very active</a></li>
            <li><a v-on:click="owner.activity = 1.9" href="#!">extra active</a></li>
          </ul>

          <a class='dropdown-trigger btn' href='#' data-target='dropdown2'>Gender</a>

          <!-- Dropdown Structure -->
          <ul id='dropdown2' class='dropdown-content'>
            <li><a v-on:click="owner.gender = 0" href="#!">Female</a></li>
            <li><a v-on:click="owner.gender = 1"  href="#!">Male</a></li>
          </ul>

        </div>
        <label for="goals">goals</label>
        <div id="goals" class="col" style="border: 10px solid green">
          <label for="carb">carbohydrates</label>
          <input 
            type="number"  
            id="carb"
            v-model="owner.carb_goal"
          >
          <label for="protein">protein</label>
          <input 
            type="number"  
            id="protein"
            v-model="owner.protein_goal"
          >
          <label for="fat">fat</label>
          <input 
            type="number"  
            id="fat"
            v-model="owner.fat_goal"
          >
        </div>
        <label for="calories">calories</label>
        <div class="calories">
          <input 
            type="number"
            id="calories"
            v-model = "owner.daily_calorie"
          >
        </div>
    </div>
    <div class="modal-footer">
        <a v-on:click='modOwner'  href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div> <!-- end User Modal -->

  <!-- Search Modal -->
  <div id="modal2" class="modal" style="height: 400px; width: 1000px;">
    <div class="modal-content">
      <div class="search-box">
        <div class="search-ingrs">
          <label for="ingr_one">Ingredient One</label>
          <input v-model="ingr_one" type="text" id="ingr_one">
          <label for="ingr_two">Ingredient Two</label>
          <input v-model="ingr_two" type="text" id="ingr_two">
          <label for="ingr_three">Ingredient Three</label>
          <input v-model="ingr_three" type="text" id="ingr_three">
          <label for="ingr_four">Ingredient Four</label>
          <input v-model="ingr_four" type="text" id="ingr_four">
        </div>
        <div class="search-cooktime">
          <label for="cooktime">Cook Time:</label>
          <input v-model="recipe.cooktime" type="number" id="cooktime">
        </div>
        <div class="search-diet">
<!-- drop down selection -->
        </div>
        <div class="search-cal">
          <label for="search-cals">Calories:</label>
          <input v-model="recipe.cooktime" type="number" id="search-cals">
        </div>
        <div class='search-macros'>
<!-- three macro fields -->
        </div>
        <div id='suggestionBox' style="background-size: contain; max-height: 100px; max-width: 100px;">    
          <a v-bind:href="recipe.url">
            <img v-bind:src='recipe.image' alt=""> 
          </a> 
        </div>
      
      </div>

    </div>
    <div class="modal-footer">
      <a v-on:click='suggestion'  href="#!" class="waves-effect waves-green btn-flat">Search</a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>  <!-- end Serch Modal -->

</div> <!-- end app -->
{% endblock content %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{% static 'FitAFSite/js/index.js' %}"></script>
{% endblock extra_scripts %}