@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
html {
  font: Roboto;
}

ul li {
  overflow: auto;
  text-align: right;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.top-box {
  display: flex;
  justify-content: center;
}

.user-box {
  border: 7px solid rgb(7, 113, 128);
  margin-top: 100px;
  padding: 20px;
  padding-top:0px;
  border-radius: 15px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


nav {
  background-color: rgb(60, 231, 202) !important;
}

.ser_mod_mat_box {
  padding: 15px;
}

#suggestionBox {
  overflow: auto;
}

.thin-brdr {
  border: 1px solid black;
}

.meal-lable-log {
  border-bottom: 2px solid black;
  background-color: rgb(60, 231, 202) ;
  height: 40px;
  font: Roboto;
  color: white;
  font-size: 24px;
  padding: 0;
  margin: 0;
  text-align: left;
}

p {
  margin: 0;
}

.meal-search-results-modal {
  border: 1px solid black;
  background-color: rgba(9, 255, 0, 0.274);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.results-img-cont {
  height: 80px;
  width: 100px;
}

.results-img {
  height: 100%;
  width: 100%;
}

.late-night-snack {
  background-color: rgb(255, 70, 70);
}

#sugg-info-card {
  padding: 6px;
}

.meal-in {
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.meal-input-field {
  border: 1px solid black;
  border-right: 0;
}

.left-brdr {
  border-left: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.meal-log {
  height: 500px; 
  border-left: 3px solid rgb(60, 231, 202);
  border-right: 3px solid rgb(60, 231, 202);
  overflow: auto;
}

.meal-item-log {
  border-bottom: 1px solid black;
  background-color: rgba(8, 255, 255, 0.082);
  height: 30px;
  font: Roboto;
  color: grey;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.meal-list-item-cols {
  width: 150px;
  text-align: right;
}

.sml-btn {
  width: 25px;
}

.the-separator {
  width: 100%;
  display: flex;
  justify-content: right;
}

.tot-cal-cont {
  display: flex;
  justify-content: center;
}

html {
  visibility: visible;
  opacity: 1;
}