@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
html {
  font: Roboto;
}

.meal-list {
  max-height: 400px;
  min-width: 100px;
  color: blue;
  border: 10px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav {
  background-color: rgb(60, 231, 202) !important;
}

.meal-lable-log {
  border-bottom: 1px solid black;
  background-color: rgb(115, 216, 174);
  height: 40px;
  font: Roboto;
  color: white;
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.late-night-snack {
  background-color: rgb(255, 70, 70);
}

.meal-in {
  color: blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.meal-input-field {
  border: 1px solid black;
  border-right: 0;
}

.left-brdr {
  border-left: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.meal-log {
  height: 600px; 
  min-width: 100%;
}

#suggestionBox {
  height: 300px;
  width: 300px;
  border: 10px solid red;
}

html {
  visibility: visible;
  opacity: 1;
}