{% load static %}
<html>
    <head>
        <title>Fit AF MFer</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block title %}
                Fit AF
            {% endblock title %}
        </title>
    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
        {% block extra_styles %}
        {% endblock extra_styles %}
        <script>
            const USER = '{{ user }}'
        </script>        
    </head>
    <body>
        <p> Well Hello there! </p>
        {% if user.is_authenticated %}
        <p> General {{ user.username }}! </p>
        {% else %}
        <p> General Kenobi! </p>
        {% endif %}
        {% block navbar %}
        {% endblock navbar %}

        {% block content %}
        <p>well hello there.</p>
        <p>GENERAL KENOBI!</p>
        {% endblock content %}

        {% block main_scripts %}
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        {% endblock main_scripts %}
        
        {% block extra_scripts %}
        {% endblock extra_scripts %}
    </body>
</html>