{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block content %}
<div class='top-box'>
  <div class='user-box'>
    {% if user.is_authenticated %}
    <p> Hi {{ user.username }}! </p>
    <a href="{% url 'site:index' %}">user area</a>
    <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
    <p> or </p>
    <a href="{% url 'signup' %}">sign up</a>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block extra_scripts %}
{% endblock extra_scripts %}